currencies-view currency-form {
    width: 25em;
}

[hidden] {
    display: none !important;
}

@media (max-width: 700px) {
    currencies-view.editing .toolbar,
    currencies-view.editing .grid {
        display: none;
    }

    currencies-view.editing currency-form {
        width: 100%;
    }
}