target/

# The following files are generated/updated by Hilla
node_modules/
frontend/generated/
vite.generated.ts

# Contains secrets that shouldn’t go into the repository
config/secrets/

# Local configuration
src/test/resources/application-initme.yaml
